
//NET "a[0]" LOC = N8;
//NET "a[1]" LOC = U8;
//NET "a[2]" LOC = V8;
//NET "a[3]" LOC = T5;
//NET "b[0]" LOC = T10;
//NET "b[1]" LOC = T9;
//NET "b[2]" LOC = V9;
//NET "b[3]" LOC = M8;
//NET "S[3]" LOC = V15;
//NET "S[2]" LOC = U15;
//NET "S[1]" LOC = V16;
//NET "S[0]" LOC = U16;
//NET "Cout" LOC = M11;

# PlanAhead Generated physical constraints 

//NET "x[1]" LOC = T9;
//NET "x[2]" LOC = V9;
//NET "x[3]" LOC = M8;
//NET "y[0]" LOC = N8;
//NET "y[1]" LOC = U8;
//NET "y[2]" LOC = V8;
//NET "y[3]" LOC = T5;
//NET "x[0]" LOC = T10;
//NET "Q[0]" LOC = U16;
//NET "Q[1]" LOC = V16;
//NET "Q[2]" LOC = U15;
//NET "Q[3]" LOC = V15;
//NET "CarryOut" LOC = N11;
